@import '../variables';
@import '../mixin';

.content-album {
    overflow: auto;
    width: $page-size;
    margin: 0 auto;
    margin-top: 72px;

    @include mobile() {
        width: 100%;
    }

    @include small-tablet() {
        width: 100%;
    }

    @include tablet() {
        width: 100%;
    }

    .title {
        background-color: #fff;
        position: fixed;
        width: $page-size;
        margin: 0 auto;
        padding: 24px 0;
        z-index: 80;
        border-bottom: 1px solid $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;

        .download {
            display: block;
            margin: 0 auto;
            font-size: 12px;
            transition: all 0.4s ease;

            &:hover {
                color: $color-primary;

                svg {
                    fill: $color-primary
                }
            }
        }

        >h1 {
            font-size: 20px;
            text-align: center;

            @include mobile() {
                font-size: 18px;
            }
        }

        @include mobile() {
            width: 100%;
        }

        @include small-tablet() {
            width: 100%;
        }

        @include tablet() {
            width: 100%;
        }
    }
}

.search {
    width: $page-size;
    margin: 100px auto 0;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;

    @include mobile() {
        width: 100%;
    }

    @include small-tablet() {
        width: 100%;
    }

    @include tablet() {
        width: 100%;
    }

    >div {
        display: flex;
        padding: 1rem 0;

        @include mobile() {
            justify-content: center;
        }

        @include small-tablet() {
            justify-content: center;
        }

        @include tablet() {
            justify-content: center;
        }

        select,
        form {
            height: 44px;
            padding: 8px;
            width: 30%;

            @include mobile() {
                width: 40%;
            }

            @include small-tablet() {
                width: 40%;
            }
        }

        select:nth-child(2) {
            margin: 0 16px;

            @include mobile() {
                display: none;
            }

            @include small-tablet() {
                display: none;
            }
        }

        option {
            padding: 16px 0;
        }

        form {
            border: 1px solid $text-black;
            padding: 5px 8px;
            border-radius: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile() {
                margin-left: 16px;
            }

            @include small-tablet() {
                margin-left: 16px;
            }

            >input {
                border: none;
                outline: none;
                width: 90%;
            }

            >button {
                border: 0;
                outline: 0;
                background-color: transparent;

                >svg:hover {
                    fill: $color-secondary;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-secondary;
        height: 40px !important;
        width: 10px;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $color-primary;
    }
}

.tree {
    padding: 2em 2em 2em 0;
    border-top: 1px solid $color-primary;


    @include mobile() {
        padding: 2rem;
        justify-content: start !important;
    }

    @include small-tablet() {
        padding: 2rem;
        justify-content: start !important;
    }

    @include tablet() {
        padding: 2rem;
        justify-content: start !important;
    }

    ul,
    summary {
        margin-left: 16px;
        list-style: none;
        line-height: 2em;
    }

    summary {
        list-style-type: none;
    }

    ul>li {
        margin-left: 20px;
        font-size: 15px;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        line-height: 2em;

        &::before {
            content: "";
            left: -10px;
            border-bottom: 1px solid red;
            border-left: 1px solid red;
            position: absolute;
            top: 0;
            width: 16px;
            height: 1.3em;
        }

        &::after {
            content: "";
            left: -10px;
            border-left: 1px solid red;
            position: absolute;
            bottom: 0;
            width: 16px;
            height: 100%;
        }

    }

    ul>li:nth-last-child(1) {
        &::after {
            display: none;
        }
    }



    .plus {
        width: 20px !important;
        height: 20px !important;
        background-color: $color-primary;
        border-radius: 50%;
        margin-right: 8px;
        color: $text-white;
        position: relative;
        z-index: 40;
        display: inline-flex;
        justify-content: center;
    }


}

.btn-detail {
    background-color: transparent;
    border: 1px solid $color-secondary;
    margin-left: 12px;
    color: $color-secondary;
    font-weight: 600;
    padding: 2px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
        background-color: $color-secondary;
        color: #fff;
    }

    display: none;
}

summary,
.leaf {
    line-height: 2.6rem !important;
    transition: all 0.4s linear;

    &:hover {
        color: red;
    }
}

.leaf .plus {
    margin-left: 12px;
}

.leaf:hover {
    .btn-detail {
        display: inline-block;
    }
}