@import '../variables';
@import '../mixin';

.footer {
    border-top: 6px solid $color-primary;
    padding: 1em;
    font-size: 12px;
    color: #333;
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    color: #fff;

    >div {
        padding: 10px 0 10px;
        width: $page-size;
        display: flex;
        justify-content: space-between;


        img {
            @include mobile() {
                display: none;
            }

            @include small-tablet() {
                display: none;
            }
        }

    }

    a {
        color: #fff;
    }

    a:hover {
        color: cornflowerblue;
        text-decoration: underline;
    }
}