@import '../variables';
@import '../mixin';

.footer {
    margin-top: 40px;
    font-size: 12px;
    color: #333;

    >div {
        display: flex;
        justify-content: center;
        border-top: 1px solid $color-primary;

        .footer-top {
            width: $page-size;
            padding: 1rem;
            font-size: 14px;
            font-weight: 600;

            .footer-title {
                margin-bottom: 16px;
            }

            p {
                margin: 10px 0;

                ul {
                    margin-left: 40px;

                    li {
                        line-height: 1.5rem;
                        font-size: 13px;
                    }
                }
            }
        }


    }

    .footer-bottom {
        background-color: $color-secondary;
        display: block;
        padding: 12px 0;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;

        >img {
            width: 40px;
            display: inline-block;
            margin-right: 8px;
        }

        >span {
            margin-left: 4px;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }
}