@import '../variables';

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    >div {
        border-top: 6px solid $color-primary;
        width: 26%;
        height: max-content;
        padding: 40px 52px 52px;
        background-color: #fff;
        box-shadow: 1px 1px 8px rgba(0 0 0/10%);
        border-radius: 8px;
        position: relative;
    }

    .login-close {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -16px;
        right: -16px;

        >svg {
            fill: #fff;
        }

        &:hover {
            background-color: $color-primary;
        }
    }

    .form {
        >h1 {
            font-size: 32px;
            text-align: center !important;
            font-weight: 500;
            margin: 0;
            margin-bottom: 0px;
            line-height: 30px;
            text-transform: uppercase;
            white-space: nowrap;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .login-group {
            margin: 12px 0 28px;

            >label {
                >span {
                    color: red;
                    font-size: 20px;
                }
            }

            .login-inp {
                margin-top: 6px;
                border: 1px solid #ccc;
                padding: 12px;
                border-radius: 4px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >input {
                    font-size: 14px;
                    outline: none;
                    border: none;
                }

                >svg {
                    cursor: pointer;
                }
            }
        }

        .login-pass {
            margin-bottom: 10px !important;
        }

        .btn-login {
            background-color: $color-primary;
            padding: 12px 24px;
            border: none;
            border-radius: 4px;
            font-weight: 500;
            color: #fff;
            font-size: 14px;
            display: block;
            margin: 40px auto 0;

            &:hover {
                background-color: $color-secondary;
            }
        }

        .err-message {
            color: red;
            margin-top: 8px;
            font-size: 14px;
        }

        .login-automatically {
            display: flex;
            align-items: center;

            >label {
                font-size: 14px;
                margin-left: 4px;
            }
        }
    }
}