@import '../variables';
@import '../mixin';

.not-found {
    width: $page-size;
    margin: 0 auto;

    @include mobile() {
        width: 80%;
    }

    @include small-tablet() {
        width: 80%;
    }

    @include tablet() {
        width: 80%;
    }

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;

        >img {
            width: 60%;

            @include mobile() {
                width: 100%;
                margin-bottom: 32px;
            }

            @include small-tablet() {
                width: 100%;
                margin-bottom: 32px;
            }

            @include tablet() {
                margin-bottom: 32px;
            }
        }

        >button {
            padding: 12px 24px;
            background-color: $color-primary;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            color: #fff;
            font-size: 18px;

            &:hover {
                background-color: $color-secondary;
            }
        }
    }

}