@import '../variables';
@import '../mixin';

.chatbot {
    display: flex;
    height: 100vh;

    @include tablet() {
        justify-content: center;
    }
}

.btn {
    width: 100%;
    border: none;
    color: $text-white;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sideBar {
    flex: 2.5;
    background-color: $color-primary;

    @include mobile() {
        display: none;
    }

    @include small-tablet() {
        display: none;
    }

    @include tablet() {
        display: none;
    }

    .upperSide {
        padding: 1rem 1.6rem;
        height: 80%;

        .upperSideTop {
            .logo {
                width: 16rem;
            }

            cursor: pointer;
        }

        .midBtn {
            background: #212121;
            font-size: 16px;
            font-weight: 500;
            margin: 1rem 0 2rem;
            transition: all 0.4s linear;

            &:hover {
                background-color: #000;
            }
        }

        svg {
            fill: $text-white;
            margin-right: 8px;
        }

    }

    .lowerSide {
        border-top: 1px solid $text-white ;
        padding: 1rem 1.6rem;

        .listItems {
            font-size: 15px;
            background-color: transparent;
            justify-content: start;
            align-items: start;
            transition: all 0.4s linear;

            >svg {
                fill: $text-white;
                margin-right: 12px;
            }

            &:hover {
                background-color: #212121;
            }
        }
    }

}

.main {
    flex: 10;
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 10rem;

    @include mobile() {
        margin: 6rem 1rem;
    }

    @include mobile() {
        width: 80%;
    }

    @include small-tablet() {
        margin: 2rem 1rem;
    }

    @include small-tablet() {
        width: 80%;
    }

    .header {
        display: none;

        @include mobile() {
            display: flex;
        }

        @include small-tablet() {
            display: flex;

            picture>img {
                height: 40px;
            }
        }

        @include tablet() {
            display: flex;
        }
    }

    .chats {
        overflow: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
        width: 100%;
        max-width: 48rem;
        height: calc(100% - 8rem);

        @include small-tablet() {
            margin-top: 60px;
            width: 90%;
        }

        @include tablet() {
            margin-top: 60px;
        }

        .chat {
            padding: 1rem;
            display: flex;
            align-items: start;

            >img {
                width: 30px;
                margin-right: 16px;
            }

            .txt {
                background-color: #dbdbdb;
                padding: 8px 16px;
                border-radius: 0 10px 10px 10px;

                >p:nth-child(1) {
                    font-weight: 700;
                    margin-bottom: 4px;
                }
            }
        }

        .user {
            justify-content: flex-start;
            flex-direction: row-reverse;

            .txt {
                background-color: $color-primary;
                color: $text-white;
                border-radius: 10px 0 10px 10px;

            }

            >img {
                width: 30px;
                margin: 0 0 0 16px;
            }

        }

        &::-webkit-scrollbar {
            width: 10px;
            display: none;
        }

    }

    .chatFooter {
        margin-top: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >form {
            padding: 0.5rem 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            width: 48rem;

            @include mobile() {
                width: 90%;
                margin-bottom: 10%;
            }

            @include small-tablet() {
                width: 90%;
                margin-bottom: 2%;
            }

            >button,
            input {
                background: transparent;
                border: none;
                outline: none;
            }

            >input {
                width: calc(100%);
                padding: 4px 0;
                font-size: 15px;
            }

            svg {
                width: 20px;
                height: 20px;
                fill: #767676;
                cursor: pointer;

                &:hover {
                    fill: $color-primary;
                }
            }
        }
    }
}